.login {
  width: 100vw;

  h1 {
    font-size: 56px;
    margin-bottom: 20px;
    margin-top: 0;
  }
}

.login-container {
  position: relative;
  max-width: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.options {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: $backgroundColor;
}

.options__login, .options__register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-top: .7em;
  padding-bottom: .7em;

  h2 {
    font-size: 24px;
    color:$secondaryColor;
  }
}

.option--inactive {
  background-color: $backgroundColor;
  transition: .1s;

  h2 {
    color: $secondaryColor;
  }

  &:hover {
    background-color: $focusColor;
    cursor: pointer;

    h2 {
      color: $secondaryColor;
    }
  }
}

.option--active {
  background-color: $secondaryColor;

  h2 {
    color: $textColor;
  }
}