.project__page {
  h1 {
    color: $secondaryColor;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 34px;
    margin-bottom: 5px;
    margin-top: .8em;
  }

  .header__team {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: $secondaryColor;
    transition: .3s;
    width: fit-content;

    &:hover {
      cursor: pointer;
      color: $focusColor;
    }
  }
}

.project__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project__main {
  max-width: 73%;
  width: 100%;
}

.project__sidebar {
  position: sticky;
  max-width: 22%;
  width: 100%;
  border: 1px solid $secondaryColor;
  height: 600px;
}

.project__basicInfo {
  border: 1px solid $secondaryColor;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: .5em 2em;
}

.projectFilter {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  border: 1px solid $secondaryColor;
}

.project__tasks {
  margin-top: 1em;
  margin-bottom: 2em;
}

.projectFileLine {
  display: grid;
  grid-template-columns: 6fr 3fr 1fr;
  align-items: center;
  width: 100%;
  border: 1px solid $secondaryColor;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  transition: .3s;

  &:not(:first-child) {
    margin-top: 0.5em;
  }

  &:hover {
    cursor: default;
  }
}

.projectFileLine__name {
  text-decoration: none;
  color: black;
  width: fit-content;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  };
}

.projectFileLine__delete--button {
  margin-left: auto;
  max-width: 40px;
  max-height: 40px;
}